.nav_container{
    position:fixed;
    top: 0;
    display:flex;
    background-color:rgb(198, 226, 248);
    width: 100%;
    justify-content: space-evenly;
}
.nav_left{
    margin:10px;
    width:260px;
    display: flex;
    align-items:center;
    justify-content:space-evenly; 
    padding-left: 55px;
}
.search_box{
    border-radius: 10px;
    display:flex;
    align-items:center;
    height: 40px;
    background-color:rgb(199, 226, 247);
}
 
.search_box > input{
    border: none;
    outline: none;
    background:none;
}
.nav_left > img{
    height:50px;
    width: 48px;
    object-fit: contain;
    border-radius: 10px;
}
.nav_right{
    margin: 20px;
    display:flex;

}